<div class="container">
    <div class="card">
        <form class="form-group" [formGroup]="loginForm">
            <div class="search-group">
                <i class="fas fa-search search-icon"></i>
                <input formControlName="searchField" type="text" class="search-input" placeholder="Add Channel">
            </div>
        </form>
        <div #activeList="cdkDropList" class="box-list" cdkDropList cdkDropListOrientation="vertical" [cdkDropListData]="contacts" (cdkDropListDropped)="drop($event)" class="contact-list">
            <div cdkDrag *ngFor="let contact of contacts;let i =index" class="contact-items">
                <div class="">
                    <i class="fas fa-grip-vertical fa-1x"></i>
                    <i [ngClass]="contact.icon" class=""></i>
                </div>
                <p class="">{{contact.name}}</p>
                <a (click)="remove(contact.name)" class="link-btn">Remove</a>
            </div>

            <div class="btn-group">
                <button (click)="cancel()" class="btn-cancel">Cancel</button>
                <button (click)="save()" class="btn-apply">Apply</button>
            </div>
        </div>

        <!-- <div #activeList="cdkDropList" class="box-list" cdkDropList cdkDropListOrientation="vertical" [cdkDropListData]="contacts" (cdkDropListDropped)="drop($event)">
            <div class="drag-box" *ngFor="let customer of contacts" cdkDrag>
                {{customer}}
            </div>
        </div> -->


    </div>
</div>
